*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.newsletter
{
    width: 20vw;
    height: 20vh;
}

